@import '~antd/dist/antd.css';
*{
  padding: 0;
  margin: 0;
}
body{
  background-color: #ccc;
}


.content{
  width: 1200px;
  margin: 30px auto 0;
}
.left{
  width: 900px;
  float: left;
}
.right{
  width: 270px;
  height: 500px;
  float: right;
  background-color: red;
}
